## Check for Feature Importance (using feature permutation)

### Import modules and data (just for 200 obs so far)

In [53]:
import numpy as np
import pandas as pd
import matplotlib as plt
from datetime import datetime
import sys
import os
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [55]:
data = pd.read_csv("C:\\Users\\Brigitta Bartsch\\code\\PROJECT_Fake_News_Detection\\fake_news_buster\\fake_news_buster\\data\\ultimate_datasaurus.csv")

### Instanciate the Logistic Regression model

In [57]:
X = data.drop(['Unnamed: 0', 'title', 'text', 'date', 'true/false', 'true/false_description'], axis=1)
y = data['true/false']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=13)

model = LogisticRegression(random_state=13, max_iter = 10000)
model.fit(X_train, y_train)
model.score(X_test, y_test)

0.9878963391995248

In [64]:
# y_pred = model.predict(X_test)
# y_pred

In [51]:
# from sklearn.metrics import accuracy_score
# accuracy_score(y_test, y_pred)

### Check Feature Importance (feature permutation)

In [58]:
from sklearn.inspection import permutation_importance

In [59]:
permutation_score = permutation_importance(model, X_train, y_train, n_repeats=100)

In [60]:
permutation_features_list = np.vstack((X.columns, permutation_score.importances_mean)).T

In [61]:
df_permutation_features_list = pd.DataFrame(permutation_features_list)

**Most important to least important features for whole DataSet**

In [67]:
df_permutation_features_list.sort_values(by=1, ascending=False)[:10]

                                   0            1
22                  upper_case_ratio     0.382955
20               title_no_characters     0.033716
27                  typo_ratio_title    0.0202148
8   text_TextBlob_subjectivity_score  0.000934725
18        title_Vader_compound_score  0.000416282
19                text_no_characters  0.000296299
2                       day_saturday  0.000189046
16         title_Vader_neutral_score  0.000109481
5                        day_tuesday  8.24289e-05
26                   typo_ratio_text  5.09214e-05

In [69]:
df_permutation_features_list.sort_values(by=1, ascending=False)[10:20]

                                0            1
10       text_Vader_neutral_score  3.94641e-05
17     title_Vader_positive_score  3.08711e-05
3                      day_sunday  2.54607e-05
24            vocab_richness_text  1.36851e-05
21                character_ratio   9.2295e-06
23                  numbers_ratio  4.45562e-06
7    text_TextBlob_polarity_score -1.59129e-06
25           vocab_richness_title -7.00169e-06
13  title_TextBlob_polarity_score -8.27472e-06
4                    day_thursday -1.40034e-05

In [70]:
df_permutation_features_list.sort_values(by=1, ascending=False)[20:34]

                                    0            1
6                       day_wednesday -3.30989e-05
0                          day_friday -4.10553e-05
9           text_Vader_negative_score -4.64657e-05
1                          day_monday -4.83753e-05
12          text_Vader_compound_score -5.02848e-05
11          text_Vader_positive_score -5.34674e-05
15         title_Vader_negative_score -5.41039e-05
14  title_TextBlob_subjectivity_score -6.90621e-05