## Improve datetime function for Buzzwords dataset

In [194]:
import pandas as pd
from datetime import datetime
import numpy as np
from textblob import TextBlob
from nltk.sentiment.vader import SentimentIntensityAnalyzer
import nltk
nltk.download('vader_lexicon')
vader = SentimentIntensityAnalyzer()
from nltk.tokenize import word_tokenize
from sklearn.preprocessing import OneHotEncoder
from spellchecker import SpellChecker
import string
from sklearn.preprocessing import MinMaxScaler

[nltk_data] Downloading package vader_lexicon to C:\Users\Brigitta
[nltk_data]     Bartsch\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

In [195]:
import time
def exec_time(start, end):
    diff_time = end - start
    m, s = divmod(diff_time, 60)
    h, m = divmod(m, 60)
    s,m,h = int(round(s, 0)), int(round(m, 0)), int(round(h, 0))
    return ("{0:02d}:{1:02d}:{2:02d}".format(h, m, s))

In [196]:
df_fake = pd.read_csv("C:\\Users\\Brigitta Bartsch\\code\\PROJECT_Fake_News_Detection\\fake_news_buster\\fake_news_buster\\data\\BuzzFeed_fake_news_content.csv")
df_true = pd.read_csv("C:\\Users\\Brigitta Bartsch\\code\\PROJECT_Fake_News_Detection\\fake_news_buster\\fake_news_buster\\data\\BuzzFeed_real_news_content.csv")

In [197]:
df_fake.shape

(91, 12)

In [198]:
df_fake["publish_date"][0]

"{'$date': 1474243200000}"

In [199]:
diff_time = df_fake["publish_date"][0].replace("'$date", "")
diff_time = diff_time.replace("': ", "")
diff_time = diff_time.replace("{", "")
diff_time = diff_time.replace("}", "")
print("len:", len(diff_time))
diff_time

len: 13

'1474243200000'

In [200]:
import time

In [201]:
diff_time = int(diff_time)/1000
diff_time

1474243200.0

In [202]:
date = datetime.utcfromtimestamp(diff_time)

In [203]:
date

datetime.datetime(2016, 9, 19, 0, 0)

In [204]:
from datetime import datetime
import tzlocal  # $ pip install tzlocal

unix_timestamp = diff_time
local_timezone = tzlocal.get_localzone() # get pytz timezone
local_time = datetime.fromtimestamp(unix_timestamp, local_timezone)

In [205]:
diff_time

1474243200.0

In [213]:
def try_parsing_date(text):
    if text != text:   ## pandas nan type not equal to itself
        return np.nan
    
    elif "$date" in text:
        diff_time = text.replace("'$date", "")
        diff_time = diff_time.replace("': ", "")
        diff_time = diff_time.replace("{", "")
        diff_time = diff_time.replace("}", "")
        diff_time = int(diff_time)/1000
        date = datetime.utcfromtimestamp(diff_time)
        return date

    else:
        for fmt in ('%d-%b-%y', '%B %d, %Y', '%b %d, %Y','%b %d, %Y ','%B %d, %Y '):
            try:
                return datetime.strptime(text, fmt)
            except ValueError:
                pass
    return np.nan

In [207]:
import json  

json_string = df_fake["publish_date"][0]
obj = json.loads(json_string.replace("'", '"'))

In [208]:
type(np.nan)

float

In [209]:
obj["$date"]

1474243200000

In [214]:
df_fake["publish_date_new"]= df_fake["publish_date"].apply(try_parsing_date)

In [211]:
date_nan = df_fake["publish_date"][4]

In [215]:
date_nan != date_nan

True

In [216]:
df_fake["publish_date_new"]

0    2016-09-19 00:00:00
1    2016-09-21 00:08:41
2    2016-09-21 00:10:38
3    2016-09-19 00:00:00
4                    NaT
5    2016-09-20 00:00:00
6    2016-09-19 23:11:53
7    2016-09-19 23:39:44
8    2016-09-21 07:50:40
9                    NaT
10   2016-09-20 23:03:43
11   2015-05-26 14:20:30
12   2016-09-21 00:10:38
13   2016-09-21 11:00:43
14                   NaT
15                   NaT
16   2015-04-22 15:10:33
17   2016-09-25 00:00:00
18   2016-09-26 06:30:38
19   2016-09-26 07:15:32
20   2016-09-26 07:20:11
21                   NaT
22   2016-09-19 00:02:36
23                   NaT
24                   NaT
25   2016-09-19 20:47:54
26                   NaT
27                   NaT
28   2017-08-24 09:21:00
29   2016-09-20 22:02:42
             ...
61   2016-09-19 05:57:41
62                   NaT
63   2016-09-19 13:32:34
64   2016-09-19 15:05:18
65   2016-09-19 19:09:06
66   2016-09-19 23:11:53
67   2016-09-19 19:58:36
68   2016-09-20 16:40:02
69   2016-09-20 00:49:22
70   2016-09-20 19:41:33
71   2016-09-21 14:10:05
72   2016-09-21 17:19:31
73   2016-09-26 00:00:00
74   2016-09-21 00:00:00
75   2016-03-27 00:00:00
76   2016-09-22 21:33:25
77   2016-09-19 19:29:32
78   2016-01-30 00:00:00
79   2016-09-23 17:18:40
80   2016-09-22 20:14:38
81   2016-09-26 06:39:58
82   2016-09-26 13:29:37
83   2016-09-26 15:25:39
84   2016-09-26 15:45:04
85   2016-09-26 16:35:54
86   2016-09-26 17:47:05
87   2016-09-27 00:00:00
88   2016-09-18 13:58:28
89   2016-09-27 18:13:31
90   2016-09-27 21:00:40
Name: publish_date_new, Length: 91, dtype: datetime64[ns]